@model IEnumerable<Event_manager_v2.Models.Wijziging>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Wijzigingen voor @ViewBag.EvenementNaam</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WijzigingsType)
        </th>
        <th>
            Doelwit
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WijzigingsType.naam)
            </td>
            <td>
                @item.jsonClassType.Substring(24)
            </td>
            <td>
                @if (item.EvenementBeheerder.beheerder.ToString() != ViewBag.UserId)
                {
                    @Html.ActionLink("Goedkeuren", "Activate", new { id = item.wijziging_id })
                }
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Terug naar dashboard", "Dashboard", "Evenementen", new { id = ViewBag.EvenementId }, new { @class = "btn btn-default" })
