@model Event_manager_v2.Models.Deelnemer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Deelnemer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evenement1.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenement1.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goedgekeurd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goedgekeurd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.deelnemer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
