@model IEnumerable<Event_manager_v2.Models.Deelnemer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evenement1.naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goedgekeurd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evenement1.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goedgekeurd)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.deelnemer_id }) |

        </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.deelnemer_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.deelnemer_id }) |
                @Html.ActionLink("Goedkeuren", "Goedkeuren", new { id = item.deelnemer_id }) |
                </td>
            }

    </tr>
}

</table>
