@model Event_manager_v2.Models.EvenementBeheerder

@{
    ViewBag.Title = "AddBeheerder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.HiddenFor(model => model.evenement)
    
    <div class="form-horizontal">
        <h4>Voeg beheerder toe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.beheerder, "beheerder", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("beheerder", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.beheerder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Voeg toe" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to dashboard", "Dashboard", "Evenementen", new { id = Model.evenement}, new { @class = "btn btn-default" })
</div>
